* {
    margin: 0;
    padding: 0;
}

body {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3, h5 {
    font-size: 12px;
}

#title {
    width: 1200px;
    height: 250px;
    background-color: skyblue;
    color: white;
}
